<!-- Footer ------>
<section id="footer">
  <div class="container">
    <div class="row center">
      <div class="col-lg-4 footer-box">
        <img src="/static/assets/logof.png" alt="" style="width: 12rem;">
        <p style="max-width: 280px;">
          Maven Mentors is a young and aspiring startup initiated by students of IIT Ropar. It aims at providing JEE Aspirants best mentors so as to guide them in exploring different fields, learn new skills and selecting their major in college. 
        </p>
      </div>
      <div class="col-lg-4 footer-box contact-us">
        <p id="contact"><b>CONTACT FOR QUERIES</b></p>
        <p>Mukesh Choudhary<a href="tel:9521598249"><i class="fa fa-phone call"></i></a><a href="https://wa.me/919521598249"><i class="fa fa-whatsapp whats"></i></a></p>  
        <hr>
        <p><i class="icon-envelope-o"></i>teammavenmentors@gmail.com</p>
        <hr>
        <p><i class="fa fa-map-marker"></i>IIT Ropar, Rupnagar, Punjab-140001</p>
      </div>
      <div class="col-lg-4 footer-box quick-link">
        <p id="contact"><b>QUICK LINKS</b></p>
        <p><a href="{% url 'profiles:menteereg' %}">REGISTER NOW</a></p>
        <hr>
        <p><a href="#pricing">PRICING</a></p>
        <hr>
        <p><a href="{% url 'profiles:mentorguide' %}">BE A MENTOR</a></p>
        <hr>
        <p><a href="{% url 'profiles:careg'">BE AN AMBASSADOR</a></p>
        <hr>
        <p><a href="#">TERMS &amp; CONDITIONS</a></p>
        </div>
      <div class="col-sm-12 ">
        <p class="copyr8" style="color: wheat;">Copyright © 2019. </br>All rights reserved | Maven Mentors</p>
        <p class="credit" style="font-size: 12px; color: lightgrey;">Credits to Salvatore Mandis for design</p>
      </div>
      <div class="col-sm-12 ">
      </div>
    </div>
    <br>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
  $(window).scroll(function(){
  var scroll = $(window).scrollTop();
  if(scroll == 0){
      $('.navbar').css('background', 'linear-gradient(to right, #1723b1, #58f0ff)');
  } else{
      $('.navbar').css('background', '#0686E4');
      $('.navbar-brand img').animate({height : "3rem"},400);
  }
});
</script>
<script src="/static/base/js/owl.carousel.min.js"></script>
<script>
  $('.owl-carousel').owlCarousel({
    margin:20,
    loop:true,
    nav:true,
    responsive:{
        0:{
            
            items:1
        },
        600:{
          
            items:3
        },
        1000:{

            items:3
        }
    }
})
</script>