<!-- Footer ------>
<section id="footer">
  <div class="container">
    <div class="row center">
      <div class="col-lg-4 footer-box">
        <img src="/static/assets/logof.png" alt="" style="width: 12rem;">
        <p>
          Maven Mentors is a young and aspiring startup initiated by students of IIT Ropar. It aims at providing JEE Aspirants best mentors so as to guide them in exploring different fields, learn new skills and selecting their major in college. 
        </p>
      </div>
      <div class="col-lg-4 footer-box">
        <p id="contact" style="color: yellow;"><b>CONTACT FOR QUERIES</b></p>
        <p> <a href="https://www.linkedin.com/in/himanshu2309/" style="color: white;">Himanshu Arora</a> <i class="fa fa-phone"></i>+91-9306020545</p>
        <p> <a href="https://www.linkedin.com/in/mukesh-kumar-a6a9491a1/" style="color: white;">Mukesh Choudhary</a> <i class="fa fa-phone"></i>+91-9521598249</p>  
      </div>
      <div class="col-lg-4 footer-box">
        <p id="contact"><b>OUR ADDRESS</b></p>
        <p><i class="fa fa-map-marker"></i>IIT Ropar, Rupnagar, Punjab-140001</p>
        <p><i class="fa fa-envelope-o"></i>teammavenmentors@gmail.com</p>
      </div>
      <div class="col-sm-12 ">
        <p class="copyr8" style="color: wheat;">Copyright © 2019. All rights reserved | Maven Mentors</p>
        <p class="credit" style="font-size: 12px; color: lightgrey;">Credits to Salvatore Mandis for design</p>
      </div>
      <div class="col-sm-12 ">
      </div>
    </div>
    <br>
  </div>
</section>