<!DOCTYPE html>
<html lang="en">

<head>
	<title>MENTEE REGISTER || MAVEN MENTORS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/accounts/css/main.css">
	<link rel="stylesheet" href="/static/base/css/style.css">
	<link rel="shortcut icon" href="/static/assets/logomini.png">	
</head>
<body>
	{% include "profiles/parts/navbarHome.html" %}
	<style>
		.termsreg{
			text-align: center;
			font-size: 0.79rem;
			padding-bottom:80px;
		}
		.termsrega{
			color: #51BDF7;
			font-weight: 500;
		}
		.termsrega:hover{
			color: #1D34B9 !important;
		}
	</style>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/static/assets/signup.png);">
					<span class="login100-form-title-1">
						MENTEE REGISTRATION
					</span>
				</div>

				<form class="login100-form validate-form" method="POST" action="/mentee/registration/">
					{% csrf_token %}
					{% if form.errors or error_msg %}
					<div class="errorMsg">
						<td style="color: red">
							{{error_msg}}
							{% for field in form.visible_fields %}
								{{ field.errors }}
							{% endfor %}
						</td>
					</div>
					{% endif %}

					{% for field in form.visible_fields %}
					<tr>
						<div class="wrap-input100 validate-input" style="margin-bottom: 26px;" data-validate="">
							<span class="label-input100">{{ field.label_tag }}</span>
							{{ field }}
							<span class="focus-input100"></span>
						</div>

					</tr>
					{% endfor %}
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							REGISTER
						</button>
					</div>
				</form>
				<p class="termsreg">By clicking Register, you agree to our <strong><a href="{% url 'profiles:terms'%}" target="_blank" class="termsrega">Terms and Conditions.</a></strong></p>
			</div>
		</div>
	</div>
	{% include "profiles/parts/footerHome.html" %}
</body>

</html>