<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Maven Mentors | Home</title>
  <link rel="stylesheet" href="/static/base/css/style.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/static/assets/logomini.png">
</head>
<body>
  {% include "profiles/parts/navbarHome.html" %}

  <section class="banner">
    <div class="container-fluid">
      <div class="row banner-row">
        <div class="offset-lg-1"></div>
        <div class="col-lg-4 align-self-center pt-5" style="text-align: center">
          <p class="promo-title">Connect to the best Mentors to help you explore different fields and learn new skills.
          </p>
          <a href="{% url 'profiles:menteereg' %}" class="btn-register"
            style="background-color: transparent; font-size: 20 px;">GET  3  DAYS FREE TRIAL</a>
          </div>
          <div class="offset-md-1"></div>
            <img src="/static/base/images/bane_opt (1).png" class="img-fluid col-lg-6 pt-5 pt-lg-0 pr-5 pl-5 pl-lg-0" class="img-fluid">
        </div>
    </div>
    <!--- Background wave Hero ---->
    <img src="/static/base/images/ground@-min.png" class="bottom-img" alt="" id="register">
  </section>





  <!--- About Section ------>

  <section id="about">
      <div class="container about-row">
      <h3 class="title text-center about-title ">ABOUT US</h3>
      <div class="row  justify-content-center">
        <div class="col-12">
          <p class = "about-text">
            <b>Maven Mentors</b> is a young and aspiring startup initiated by students of IIT Ropar. It aims at providing JEE Aspirants Mentors from Top Tier Colleges in India so as to guide them in exploring different fields, learn new skills and selecting their branch in college.
            We think that once you are done with JEE it's your time to get out of PCM Centralized studies and explore the world around you. But sometimes it becomes difficult to start and explore things out. As we were in the same situation 2 years ago we created a special <b>Mentorship Programme</b>
            to help you learn skills like programming,finance etc. and fill your JOSAA preferences.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!--  Why This section  -->



  <section id="why-this" style="background-color: transparent;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2 justify-content-center">
          <img src="/static/base/images/why this.png" alt="What after JEE ?" class="img-fluid pb-5 pb-md-0" style="padding: 0 20px">
        </div>
        <div class="col-md-8 order-md-1">
          <h3 class="why-this-title">WHY THIS AFTER JEE ?</h3> 
          <p class="why-this-text" style="text-align: left;">
            The next <b>Big Question</b> After JEE Exams in every mind is the selection of a branch. As they were busy with JEE Preparation they are now not able to decide their major
             and end up taking random courses without proper knowledge and interest. Continue Reading to find how we will help you out in this phase.             
          </p>
          <a href="{% url 'profiles:menteereg' %}" class="hvr-sweep-to-right">REGISTER NOW</a>
        </div>

      </div>
    </div>
  </section>






  <!-- Next Section  -->


    <section id="main-part" style="background-color: #fff;">
    <div class="container">
      <h3 class="title text-center programme-title" style="padding-top: 5rem; padding-bottom: 5rem font-size: 2.1rem;">WHAT'S IN OUR PROGRAMME ?</h3>
      
      
      
      <div class="row firsta pl-5 pr-5">
        <div class="col-md-4">
          <img src="/static/assets/visit-arc.svg" class = "img-fluid pl-0" alt="What after JEE ?">
        </div>
        <div class="col-md-8">
          <h3 class="firsta-title pt-md-5">One to One Personal Mentorship</h3>
          <p class="firsta-text"> All Education systems depend on comparison but at Maven Mentors we believe that every individual is unique and have separate interests which may
            or may not match with others. Thus we provide you a personal Mentor who will take care of your Uniqueness.
          </p>
        </div>
      </div>


      
      <div class="row firsta pl-5 pr-5">
        <div class="col-md-4 order-md-2">
          <img src="/static/base/images/josaa.jpg" class = "img-fluid pl-0" alt="What after JEE ?">
        </div>
        <div class="col-md-8 order-md-1">
          <h3 class="firsta-title second-pa">JOSAA &amp; Branch Selection</h3>
          <p class="firsta-text"> Our Mentors will give you a breif idea of every branch and help you find what interests you the most. They will sort 
            all your queries so that you can fill your JOSAA preferences in most efficient way.
          </p>
        </div>
      </div>
      
      
      
      
      <div class="row firsta pl-5 pr-5">
        <div class="col-md-4 order-md-1">
          <img src="/static/base/images/program.jpg" class = "img-fluid pl-0" alt="What after JEE ?">
        </div>
        <div class="col-md-8 order-md-2">
          <h3 class="firsta-title pt-md-5">Learn Programming &amp; Finance</h3>
          <p class="firsta-text">
            If you take our Premiere Plan your mentor will also have the responsibility to introduce you to computing ,help you learn basics of programming 
            and finance.</br>In Our survey 80% of the College students think that knowing basics of these help you a lot in starting your next journey.
          </p>
        </div>
      </div>

      <div class="row firsta pl-5 pr-5">
        <div class="col-md-4 order-md-2 text-center">
          <img src="/static/base/images/81688.png" class = "img-fluid pl-0 align-self-center" style="height: 350px; width: 200px;" alt="What after JEE ?">
        </div>
        <div class="col-md-8 order-md-1">
          <h3 class="firsta-title-app firsta-title">Our Exclusive App &amp; Rating System</h3>
          <p class="firsta-text">
            We believe that Quality is very important in mentorship thus we have our own App for your conversations through which we can monitor and ensure that the mentor 
            is working his/her best.Every Week a <b>Rating Portal</b> will be floated in which you have to rate your mentor out of 5 We will keep a close look at these Ratings.
          </p>
        </div>
      </div>


    </div>
    </section>


<!--  JOIN US SECTION   -->



    <section id="join-us" style="background-color: #1C0C35;">
      <div class="container">
        <h3 class="title text-center parts-title">JOIN US TODAY !</h3>
        <div class="row justify-content-md-around">
          <div class="col-md-4 text-center py-3 py-md-2 order-md-2">
            <a href="{% url 'profiles:menteereg' %}" class="hvr-sweep-to-right parts-button" style="font-size: 1.1rem;">REGISTER NOW</a>
          </div>
          <div class="col-md-4 text-center py-3 py-md-2 order-md-1">
            <a href="{% url 'profiles:mentorreg' %}" class="hvr-sweep-to-right parts-button">BE A MENTOR</a>
          </div>
          <div class="col-md-4 text-center py-3 py-md-2 order-md-3">
            <a href="{% url 'profiles:careg' %}" class="hvr-sweep-to-right parts-button">BE AN AMBASSADOR</a>
          </div>
        </div>
      </div>
    </section>



    <!--  PRICING SECTION    -->




    <section id="pricing" style="background-color: white;">
      <h3 class="title text-center pricing-title">CHOOSE YOUR PLAN !</h3>
      <div class="container pricing">
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                  <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul">
                    
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li>Free Subdomain</li>
                    <li>Monthly Status Reports</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
              <div class="card active mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                  <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul">
              
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li>Free Subdomain</li>
                    <li>Monthly Status Reports</li>
                  </ul>
                 
                </div>
              </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                  <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                  <hr>
                  <ul class="fa-ul">
                    
                    <li>Unlimited Private Projects</li>
                    <li>Dedicated Phone Support</li>
                    <li><strong>Unlimited</strong> Free Subdomains</li>
                    <li>Monthly Status Reports</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  
  {% include "profiles/parts/footerHome.html" %}
  <!--- Smooth Scroll js ---------->
  <!-- <script type="text/javascript" src="/static/base/js/smooth-scroll.js"></script> -->
  <!-- <script> -->
    <!-- var scroll = new SmoothScroll('a[href*="#"]'); -->
  <!-- </script> -->


  <!-- Attributes to freepik and other sites for vectors  -->


  <!-- <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by pch.vector - www.freepik.com</a> -->
  <!-- http://preview.themeforest.net/item/edugate-multiconcept-education-wordpress-theme/full_screen_preview/14380965 -->
  <!-- <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by pch.vector - www.freepik.com</a> -->
  <!-- <a href="https://www.freepik.com/free-photos-vectors/illustration">Illustration vector created by stories - www.freepik.com</a> -->
  <!-- <a href="https://www.freepik.com/free-photos-vectors/technology">Technology vector created by freepik - www.freepik.com</a> -->
  <!-- <a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup psd created by rawpixel.com - www.freepik.com</a> -->


</body>

</html>