<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Maven Mentors | Home</title>
  <link rel="stylesheet" href="/static/base/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/static/assets/logomini.png">
</head>
<style>

</style>

<body>
  {% include "profiles/parts/navbarHome.html" %}

  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <p class="promo-title">Connect to the best Mentors to help you explore different fields and learn new skills.
          </p>
          <a href="{% url 'profiles:menteereg' %}" class="btn-register"
            style="background-color: transparent; font-size: 20 px;">REGISTER</a>
        </div>
        <!-- <div class="col-md-6" >
          <img src="/static/base/svg/undraw_email_campaign_qa8y.svg" alt="" class="img-fluid">
        </div> -->
      </div>
    </div>
    <!--- Background wave Hero ---->
    <img src="/static/base/images/ground@-min.png" class="bottom-img" alt="" id="register">
  </section>

  <!--- About Section ------>
  <section id="about">
    <div class="container">
      <h3 class="title text-center">ABOUT US</h3>
      <div class="row">
        <div class="col-md-12 about">
          <p style="margin-top: 30px; margin-bottom: 60px;">
            <b>Maven Mentors</b> is a young and aspiring startup initiated by students of IIT Ropar. It aims at providing JEE Aspirants best mentors so as to guide them in exploring different fields, learn new skills and selecting their major in college.
          </p>
          <h3 class="about-title" style="margin: 15px 0px;">What do we do at MAVEN MENTORS?</h3>
          <ul>
            <li>We connect you to best mentors based on your interests after JEE.</li>
            <li>Mentors will be students of top tier colleges in India selected after a rigorous interview procedure.
            </li>
            <li>These Mentors will guide you in learning new skills like programming, finance etc. and exploring
              different fields before selecting your major in college.</li>
            <li>They will help you fill your JOSAA preferences in the most efficient way to select best possible branch and college based on your interests and JEE Rank.</li>
            <li>If you are inclined towards a particular skill then we will connect you to a mentor who is already
              performing well in it.</li>
            <li>You can chat with your mentor or request a call back ( they will have to reply within 18 hours ).</li>
            <li>All those conversations will be on our exclusive app so as to ensure the quality of mentorship.</li>
            <li>After each week a portal will be floated on the app to give ratings to your mentor. We will keep a close look at these ratings. </li>
            <li>You can reach us anytime if you face any specific issue with your mentor.</li>
          </ul>
          <div class="about-title" style="margin-top: 75px;">Registration Procedure</div>
          <ul>
            <li>Click on the REGISTER NOW button, fill your basic info and any special requirements in your mentor.</li>
            <li>We will contact you within 24 Hours of your registration and discuss when to start your mentorship.</li>
            <li>It will be a 4-week program and its fees will be <strong>Rs 1100/-.</strong>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-5">
        <img src="/static/assets/visit-arc.svg" class="bottom-img" alt="" id="register">
        <a href="{% url 'profiles:menteereg' %}" class="btn-register"
        style="background-color: transparent; font-size: 10 px; height:50px ;width: 120px; margin-top: 20px; margin-bottom: 75px;">REGISTER</a>
        
      </div>

      <div class="col-md-5">
        
        <div class="about-title" style="margin-top: 15px; font-size: 1.3rem;">Do you have good public speaking and business skills?</div>
        <ul>
          <li>Then you can earn money by conducting our seminars in coachings, schools and
            We will pay you on the basis of the number of mentees who registered for our services from the places you
            visited.</li>
          </li>
        </ul>
        <a href="{% url 'profiles:careg' %}" class="btn-register"
        style="background-color: transparent; font-size: 10 px; height:50px ;width: 20%;">APPLY</a>
      </div>
    </div>
    </div>
  </section>


  {% include "profiles/parts/footerHome.html" %}

  <!--- Smooth Scroll js ---------->
  <!-- <script type="text/javascript" src="/static/base/js/smooth-scroll.js"></script> -->
  <!-- <script> -->
    <!-- var scroll = new SmoothScroll('a[href*="#"]'); -->
  <!-- </script> -->
</body>

</html>