<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SUCCESS || Maven Mentors</title>
  <link rel="stylesheet" href="/static/base/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/static/assets/logomini.png">
</head>


<body>
  {% include 'profiles/parts/navbarHome.html' %}
  <style>
    .lsmessage{
      padding :250px 0px;
      margin: 0;
      background-color: white !important;
    }
    @media only screen and (max-width: 600px){
      .lsmessage{
      padding :150px 0px;
      }
    }
  </style>
  <!--- Banner Hero section ------->
  <section>
    <div class="jumbotron text-center lsmessage">
      <div class="display-4">Thank You!</div>
      <span class="lead">for your response. Our team will revert back to you shortly.
      </span>
    </div>
  </section>
  {% include 'profiles/parts/footerHome.html' %}
</body>

</html>