<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maven Mentors | Terms of Service</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/assets/logomini.png">
    <link rel="stylesheet" href="/static/base/css/style.css">

</head>
<style>
    body{
        background: white;
    }
</style>
<body>
    <!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/logof.png" style="padding-left: 3vh;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles:home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COMMON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentee">MENTEE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentor">MENTOR</a>
                </li>
                
                
            </ul>
        </div>
    </nav>    
</section>


<div class="container">
<section id="common" style="padding-top: 4rem;">
        <h2 class="text-center tos" >TERMS AND CONDITIONS</h2>
        <h4 class="text-center lastmod">This Agreement was last modified on 5 july, 2020</h4>
        <p class="termspara">These Terms and conditions outline the rules and regulations for the use of Maven Mentors's Service and Website, located at https://mavenmentors.in/.
             By accessing our Service we assume you accept these terms and conditions. There are separate sections for Mentee, Mentor, or Ambassador but these common 
             <strong>Terms and Conditions</strong> must be followed by every individual associating with Maven Mentors irrespective of their role. We have the right to make changes
              to these Terms and Conditions at any time in the future and if you Subscribe to our service you are bound to follow them.
        </p>
        <div class="termpoints">
            <ol>
                <li>You must not Republish, Reproduce, duplicate or copy the material provided to you to help you in learning Programming, Finance or any other Skill.
                </li>
                <li>Our major role is to provide a Mentorship platform to facilitate students after JEE.<strong> Maven Mentors</strong> is not a provider of programming and finance skills directly. Our 
                    Mentors are independent contractors and are not employees of Maven Mentors.
                </li>
                <li>Disputes if any between Mentors and Mentees will be handled on a case-by-case basis and final decision-making power will be ours(If they want to continue with us).
                    If Mentee has any complaint with his/her Mentor he/she must reach us as soon as possible and we will look into the matter.
                </li>
                <li>The User must be aware that Maven Mentor is not an incorporated company and we are doing our work independently. We don't belong to any
                    educational institution or any other Service Provider.
                </li>
                <li>We have User's consent on using their Registration data for any kind of promotion on our Website or social platforms,and share it with our Partner Companies. We Respect Your Privacy.</li>
                <li>Any kind of refunds will be based on our Refund Policy as mentioned in <a href="#mentee">MENTEE Section.</a></li>
                <li>We have all the rights to freeze the Mentor's payment in case we get any serious complaints about a Mentor ( Which are then proved to be Right ).
                    Mentor's payment policy can be read in <a href="#mentor">MENTORS Section.</a>
                </li>
            </ol>
        </div>
    </section>

    <section id="mentee" style="padding-top: 5rem;">
        <h2 class="title text-center tos" style="font-size: 2.2rem;">MENTEE SECTION</h2>
        <p class="termspara"><strong>Congratulations, </strong>you have taken a very wise decision of exploring things out before selecting your major and learning some real-world skills.
        We assume that you have read the common Terms and Conditions in the first section and accept all of them. Other than those these are some specific terms for Mentees joining us.
         </p>
         <div class="termpoints">
            <ol>
                <li>A one time payment based on your <a href="{% url 'profiles:home' %}#pricing">PLAN</a> will be taken at the end of 3 days trial(there is no free trial in only JOSAA plan). This payment will be through payment portal on Maven Mentors app
                    or any other way directed by us.</li>
                <li><strong>Refund Policy :</strong> If a mentee doesn't want to continue with our service he/she must reach us as soon as possible.<strong>Refund is applicable only in 1st week after payment. An amount 
                    equivalent to 75% of the payment will be refunded in that case.</strong> Refunds are only applicable for 1199/- and 1999/- plans. </li>
                <li>A feedback portal will open at the end of each week of your subscription in which you have to give a rating to your mentor out of 5 and any specific feedback you have for your mentor. 
                    In case the mentee doesn't give any feedback we will assume that the mentee doesn't have any problem with his Mentor.
                </li>
                <li>If there is no specific issue with your mentor but you still want to change him/her for any reason then you have to contact as soon as possible and we will look into the matter. The sole decision making 
                    power in this will be with us at that time but we will try to do the best thing possible in your favour.</li>
                <li>The sole purpose of our mentors is to give the best possible advice and help you learn some skills but the final decision making will be your call.</li>
    </section>

    <section id="mentor" style="padding: 5rem 0rem;">
        <h2 class="title text-center tos" style="font-size: 2.2rem;">MENTOR SECTION</h2>
        <p class="termspara">
            A person from our side will get in contact with you within 24 hours of your application for being a Mentor.You have to go through an interview procedure ( virtual ) whose time can be decided
            after mutual consent of you and our Representative. We will ask you some question regarding how you will comminicate/ What are your skillsets and some general questions whose answers will 
            become base of your selection as a Mentor.We assume that you have read the common Terms and Conditions in the first section, these are some specific Terms and Conditions for Mentors, once you 
            apply to be a mentor we assume that you accept all of them.
        </p>
        <div class="termpoints">
        <ol>
            <li><strong>Payment Policy:</strong> Mentor's payment will be based on two factors, number of mentees and Plan taken by those mentees. Quality of our mentors is our biggest concern thus mentors must mantain a good rating( given by mentee's each week ). These ratings
            if too low can surely affect your payments. Payment's policy will be explained to you in more details by our representaive if you get selected.</li>
            <li>You must respond to the mentee's query within 18 hours of their message/call. Failing in this can cause serious affects to your rating unless you give any proper explaination justifying it.</li>
            <li>In case you have to help them in learning programming/finance then you must give at least 4-5 hours every week to each mentee in which you have to track their progress, solve their issues and help them in 
                any way possible in fields related to this. You will be provided a weekly schedule/Materials related to these topics which you have to follow ( Unless you are an expert level Mentor ).
            </li>
        </ol>
    </div>
    </section>
    </div>
    {% include "profiles/parts/footerHome.html" %}
</body>
</html>