<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maven Mentors | Terms of Service</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/assets/logomini.png">
    <link rel="stylesheet" href="/static/base/css/style.css">

</head>
<style>
    body{
        background: white;
    }
</style>
<body>
    <!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/logof.png" style="padding-left: 3vh;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">COMMON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentee">MENTEE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mentor">MENTOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ambass">AMBASSADOR</a>
                </li>
                
            </ul>
        </div>
    </nav>
    
</section>

<section id="common">
    <div class="container">
        <h2 class=" text-center tos">TERMS AND CONDITIONS</h2>
        <h4 class="text-center lastmod">This Agreement was last modified on 5 June, 2020</h4>
        <p class="termspara">These Terms and conditions outline the rules and regulations for the use of Maven Mentors's Service and Website, located at https://mavenmentors.in/.
            By accessing our Service we assume you accept these terms and conditions. There are seperate sections for Mentee, Mentor or Ambassador
            but these common <strong>Terms and Conditions</strong>
            must be followed by every individual associating with Maven Mentors irrespective of their role. We have the Right to make changes to these Terms and Conditions at any time in future and 
            if you Subscribe to our service you are bound to follow them.
        </p>
        <div class="termpoints">
            <ol>
                <li>You must not Republish, Reproduce, duplicate or copy material provided to you to help you in learning Programming, Finance or any other Skill.
                </li>
                <li>Our Major role is to provide a Mentorship platform to facilitate students after JEE. <strong>Maven Mentors</strong> is not a provider of programming and finance skills directly. Our Mentors are independent contractors and are not employees of Maven Mentors.</li>
                <li>Disputes if any between Mentors and Mentees will be handled on a case-by-case basis and final decision making power will be ours(If they want to continue with us).
                    If Mentee has any complaint with his/her Mentor he/she must reach us as soon as possible and we will look into the matter.
                </li>
                <li>The User must be aware that Maven Mentor is not an incorporated company and we are doing our work independently. We don't belong to any
                    educational institution or any other Service Provider.
                </li>
                <li>We have User's consent on using their Registration data for any kind of promotion on our Website or social platforms,and share it with our partner Companies. We Respect Your Privacy.</li>
                <li>Any kind of refunds will be based on our Refund Policy as mentioned in <a href="#mentee">MENTEE Section.</a></li>
                <li>We have all the rights to freeze Mentor's payment in case we get any serious complaints for a Mentor ( Which are then prooved to be Right ).
                    Mentor's payment policy can be read in <a href="#mentor">MENTORS Section.</a>
                </li>
            </ol>
        </div>


    <section id="mentee">
        <h2 class="title text-center tos">MENTEE SECTION</h2>
    </section>
    </div>
</section>
</body>
</html>