html{
  scroll-behavior: smooth;
}
*:not(i){
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif !important;
}
body{
  font-family: 'Nunito Sans', sans-serif !important;
  background: repeating-linear-gradient(45deg , #fff 0% 20%, rgb(231, 231, 231) 20% 40%,#fff 40%);
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: 1;
}
.navbar {
  background: linear-gradient(to right, #1723b1, #58f0ff);
  padding: 0 !important;
  transition: all;
}

/* Logo resize */
.navbar-brand img {
  height: 3.5rem;
  padding-left: 2rem;
}
.navbar-nav {
  margin-right: 1rem;
  position: relative;
}
.navbar-nav li {
  padding: 0 0.5rem;
}
.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-nav .nav-item .nav-link:hover{
  color: #1723b1 !important;
}

.fa-bars {
  color: #fff !important;
  font-size: 25px !important;
}
.navbar-toggler {
  margin-right: 10px !important;
  outline: none !important;
}
/* --------- Banner ---------- */
.banner {
  background: linear-gradient(to right, #1723b1, #58f0ff);
  color: #fff;
  padding-top: 5%;
}
.banner-row{
  padding-top: 0;
  height: auto;
  padding-bottom: 12.5%;
}

.promo-title {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.4;
  padding-top: 50px;
  padding: 0 15px;
}
@media only screen and (max-width:992px)
{
  .banner-row{
    padding-bottom: 10.5%;
  }
  .promo-title{
    line-height: 1.2;
    font-size: 2.2rem;
  }
}
.join-title {
  font-size: 1.44rem;
}
.link-play {
  text-decoration: none;
}
.link-play:hover {
  color: #58f0ff;
  text-decoration: none !important;
}
.play-btn {
  width: 45px;
  margin: 20px 0;
  margin-right: 2em;
  text-decoration: none !important;
  transition: transform 1.2s;
}
.play-btn:hover {
  color: #444;
  text-decoration: none !important;
  transform: scale(1.2);
}
.banner a {
  color: #fff;
  text-decoration: none !important;
}
.img-fluid {
  height: auto;
  padding-left: 40px;
}
.bottom-img {
  width: 100%;
}
/* ---------- Services --------- */
.title::after {
  content: "";
  background: linear-gradient(to right, #1723b1, #58f0ff);
  height: 8px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 70px;
  transform: translateY(23px);
  margin-bottom: 20px;
}
/* -----------   About -------------*/
.btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #1723b1, #58f0ff);
  transition: transform 1.2s;
}
.btn-primary:hover {
  transform: scale(1.2);
}
#about {
  background-color: #fff;
  padding-bottom: 3.5rem;
  padding-top: 2rem;
}
.about-text{
  padding-top: 30px; 
  margin-bottom: 60px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
}
.about-row{
  padding: 0px 20px;
  line-height: 1.5;
}
.about-title {
  font-size: 2rem;
  padding-top: 8%;
  font-weight: 700;
}
#about ul li {
  margin: 10px 0;
}
#about ul {
  margin-left: 20px;
}
@media only screen and (max-width : 762px)
{
  .about-text{
    font-size: 1rem;
  }
  .about-title{
    font-size: 1.8rem;
  }
}
/*  Why THis After JEE Section (why-ths) */
#why-this{
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.why-this-title{
  font-weight: 700;
  font-size: 2rem;
}
.why-this-text{
  font-size: 1.2rem;
  padding-top: 1.8rem;
  line-height: 1.4;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 2px 25px;
  background-color: #fff;
  border: 2px solid #0686E4;
  color: #0686E4;
  transition: all 0.3s;
}
/* Sweep to right hover effect  */
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0686E4;
  padding: 2px 25px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
  text-decoration: none;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media only screen and (max-width:768px)
{
  .why-this-title{
    font-size: 1.8rem;
    justify-content: center;
  }
  .why-this-text{
    font-size: 1rem;
    padding-top: 1.5rem;
  }
  #why-this{
    padding-top: 2rem;
  }
  .hvr-sweep-to-right{
    align-self: center;
}
}
/* Main Part Section */
#main-part{
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.firsta{
  padding-top: 1.5rem;
}
.firsta-title{
  font-weight: 700;
  padding-top: 2rem;
}
.second-pa{
  padding-top: 100px;
}
.firsta-text{
  color: rgb(80, 80, 80);
}
.programme-title{
  padding-top: 5rem;
   padding-bottom: 4.5rem;
  font-size: 2.1rem;
  font-weight: 700;
}
.firsta-title-app{
  padding-top: 100px;
}
@media only screen and (max-width:768px)
{
  .firsta-title{
    font-size: 1.4rem;
    padding-top: 1.3rem;
  }
  .firsta-text{
    font-size: 1rem;
    padding-top: 0.4rem;
  }
  .second-pa{
    padding-top: 0;
  }
  .firsta-title-app{
    padding-top: 0;
  }
}
/* Join Us section */
#join-us{
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.parts-title{
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 30px;
}
.parts-button{
  padding:12px 10px;
  color: #fff;
  font-weight: 700;
  border: 3px solid #8A57DB;
  border-radius: 5px;
  background-color: #1c0c35;
  letter-spacing: 1px;
}
#join-us .hvr-sweep-to-right:before{
  background-color: #8A57DB;
}
#join-us .hvr-sweep-to-right:hover{
  letter-spacing: 2px;
}
#join-us .title::after{
  background: #fff !important;
} 
/* --------------------------- Pricing Section ------------------- */
#pricing{
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.pricing-title{
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 120px;
}
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.308);
  text-align: left;
}
.pricing ul{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing hr {
  margin: 1.5rem 0;
  background-color: #d1d1d1;
}
.fa-check{
  color: rgba(0, 0, 0, 0.596);
  padding-right: 4px;
}
.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}
.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}
.pricing .card-price .period {
  font-size: 0.8rem;
}
.pricing ul li {
  margin-bottom: 1rem;
}
.pricing .active{
  box-shadow: 0 0.5rem 1.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.pricing .card:hover {
  margin-top: -.4rem;
  margin-bottom: .4rem;
  box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.pricing .card:hover .btn {
  opacity: 1;
}
/*                OUR TEAM SECTION                  */
#our-team{
  padding: 3rem 0;
}
.team-title{
  font-weight: 700;
  font-size: 2.5rem;

}
.team-row{
  padding: 10rem 0rem 5rem 0rem;
}
.team-name{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.team-position{
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(71, 71, 71);
  }
.team-image{
  width: 60%;
  height: 193px;
  padding: 20px 0px;
  border-radius: 50%;
  align-items: center;
  
}
.card-img-top{
  margin: 0% 20%;
}
.team-card {
  background: rgb(255, 255, 255);
  width: 280px;
  padding: 10px;
  box-shadow: 0 0.5rem 1.2rem 0.2rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.team-card:hover{
  background-color: rgb(108, 184, 238);
}
.mediacon{
  padding: 5px;
  color: rgb(82, 82, 82);
}
.mediacon:hover{
  color: rgb(16, 75, 122) !important;
}
.team-card li{
  padding:0;
  margin: 0;
}
@media only screen and (max-width:768px){
  .team-title{
    font-size: 2rem;
  }
  .team-row{
    padding-top: 5rem;
  }
}
/* ----- Footer ------*/
#footer {
  background: linear-gradient(to right, #1723b1, #58d0ff) !important;
  color: #fff !important;
}
.footer-img {
  width: 100%;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 7rem;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  display: inline-block;
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin: 20px 0;
}
/* ------------ CONTACT US SECTION FOOTER ------------ */
.contact-us{
  padding-top: 30px;
  padding-left: 40px !important;
}
.contact-us p{
  padding: 5px 0px ;
}
.socialcon , .socialcona{
  color: white !important;
  font-size: 1.5rem !important;
  transition: all 0.2s;
}
.socialcon:hover , .socialcona:hover{
  color: #1D37B9 !important;
}
.call{
  padding-left: 10px;
  color: #fff;
  transition: all 0.1s;
}
.whats{
  color: #fff;
  transition: all 0.3s;
}
.call:hover,.whats:hover{
  color: #1D37B9;
}

.quick-link{
  padding: 30px 20px 20px 30px !important;
}
.quick-title{
  margin-bottom: 33px !important;
  font-size: 1rem !important;
}
.quick-link p, .quick-link a{
  padding: 5px 0px !important;
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 0.8rem ;
  color: white !important;
 
}
.quick-link a:hover{
  color: #1D37B9 !important;
  text-decoration: none;
}
.quick-link i{
  padding: 1px !important;
  width: 20px !important;
  margin: 0 !important;
  font-size: 0.8rem !important;
  height: 12px !important;
}
.event {
  position: relative;
}
.download-btn {
  margin-top: 60px;
  text-align: center;
}
.link-play-buttons button {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
  }

  .btn-register {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    animation: c 53s linear infinite !important;
    background: linear-gradient(121.19deg,rgba(133,239,49,0) 25.73%,hsla(0,0%,100%,.3) 45.27%,rgba(133,239,49,0) 62.27%),rgb(231, 61, 35);
    border: 2px solid white;
    border-radius: 3px;
    outline: none;
    padding: 10px 32px;
    box-shadow: 3px 3px #888;
  }
  .btn-register:hover{
    color: white;
  }
  
  #register-section {
    background-color: #1c0c35;
    height: 45vh;
    scroll-padding-top: 300px;
    text-align: center;
  }
  .heading-register {
    padding-top: 60px !important;
  }
  #register-section .container .row .btn-register {
    margin-bottom: 15px;
  }
  .heading-register {
    color: white;
    padding: 30px;
    font-weight: bold;
    font-size: 35px;
  }
  .wrapper-btns{
    margin: 10px 0;
  }
  @media only screen and (max-width: 780px){
    #register-section{
      height: 60vh;
    }
  }
  @media only screen and (max-width: 495px){
    .promo-title{
      font-size: 2.3rem;
    }
  }
  /* ---------------- TERMS OF SERVICE -------------------------- */
  .tos{
    font-weight: 700;
    font-size: 2.5rem;
  }
  .lastmod{
    color: rgb(39, 39, 39);
    font-size: 0.8rem ;
    padding: 0.5rem 0rem;
  }
  .termspara{
    padding: 2rem 0rem;
    font-weight: 400;
    font-size: 1rem;
  }
  .termpoints{
    font-size: 1rem;
    padding-left: 20px;
  }
  .termpoints li{
    padding: 10px 0px;
  }
  /* CODING FOR KIDS */
  #coding-kids{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FAFAFA;
  }
  .coding-title{
    font-weight: 800;
    padding-top: 1rem;
    font-size: 2.3rem;
    color: #ff9022;
  }
  .list-coding{
    list-style-type: none;
  }
  .class-title{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0.6rem;
    font-weight: 800;
    color: #ff9022 ;
  }
  .fa-check-square-o{
    color: #ff9022 ;
    padding-right: 2vh;
  }
  .list-div{
    padding-left: 3rem !important;
  }
  .list-coding li{
    color: #686767;
    font-weight: 600;
    font-size: 1.2rem;
    text-indent: -1rem;
  }
  .high-rupee{
    padding-left: 1rem;
    text-decoration: line-through;
    font-size: 1.6rem !important;
  }
  .low-rupee{
    color: black;
    font-size: 2.5rem;
    padding-bottom: 0;
    padding-right: 0.7rem;
  }
  .under-text{
    font-weight: 600 !important;
    color: #3c88f1 !important;
    font-size: 1rem !important;
    padding-bottom: 10px;
  }
  .book-button{
    animation: c 53s linear infinite;
    background: linear-gradient(121.19deg,rgba(133,239,49,0) 25.73%,hsla(0,0%,100%,.3) 45.27%,rgba(133,239,49,0) 62.27%),#ff8d1a;
    color: white;
    border: none;
    font-weight: 800;
    padding: 0.7rem 2.55rem;
    height: 50px;
    width: 250px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  .book-button:hover{
    color: white;
    text-decoration: none;
  }
  @keyframes c {0%{background-position:-5000px 0}to{background-position:5000px 0}}
  /* FOR mobile phones */
  @media only screen and (max-width: 600px){
    .list-coding li{
      font-size: 1rem;
    }
    .coding-title{
      font-size: 2.1rem;
    }
    .rupee{
      padding-left: 1rem;
    }
    .under-text{
      font-size: 0.9rem !important;
    }
    .btn-register{
      padding:8px 25px;
    }
    .book-row{
      padding-bottom: 30px;
    }
  }